<div class="text-center">
  <h1>Simple AirBNB</h1>
  <h3>All of our FLATS (<%= @flats.count %>)</h3>

    <button>  <%= link_to "Add Flat",  new_flat_path(@flat) %>     </button>

    <div class="container">
      <div class="row">
        <% @flats.each do |flat| %>
        <div class="col-sm-4"><li> <%= flat.name %> </li></div>
        <div class="col-sm-4"><li> <%= flat.address %> </li></div>
        <div class="col-sm-4"><li> <%= flat.description %> </li></div>
        <div class="col-sm-4"><%= link_to "See more", flat_path(flat) %></div>
      <% end %>
      </div>
    </div>
</div>
